* {
  margin: 0;
}

.homesection {
  background-color: #0b0b0b;
  height: auto;
  padding-bottom: 300px;
}

.home {
  display: grid;
  gap: 200px;
  grid-template-columns: auto auto;
  padding-top: 250px;
}
.home__imgandborder {
  max-width: 60vw;
  width: 400px;
  position: relative;
}
.home__imgandborder img {
  width: 100%;
  position: relative;
  z-index: 2;
  box-shadow: 0px 2px 20px 2px rgb(26.0878145695, 60.2026490066, 125.4221854305);
  border-radius: 25px;
}
.home__imgandborder .border {
  position: absolute;
  top: -5px;
  left: -5px;
  width: 100%;
  height: 100%;
  border: 4px solid #1A3C7D;
  border-radius: 5px;
  animation: rotate 5s linear infinite;
}
.home__texts {
  color: #ffffff;
  width: 100%;
  font-family: Montserrat;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 20px;
  max-height: 300px;
  align-content: center;
  font-size: 18px;
}
.home__texts__ola {
  font-size: 32px;
  text-align: center;
}
.home__texts__JoaoPaulo {
  display: flex;
  align-items: center;
  column-gap: 10px;
  font-size: 26px;
}
.home__texts__developer {
  color: rgb(26.1756291391, 60.4052980132, 125.8443708609);
  font-size: 40px;
}

.Faster {
  padding-top: 100px;
}
.Faster__mobileFaster {
  display: none;
}
.Faster__button {
  cursor: pointer;
  color: #ffffff;
  background-color: #101217;
  border: none;
  font-family: Montserrat;
  border-radius: 10px;
  width: 150px;
  height: 30px;
  margin-left: 120px;
  transition: 0.1s linear;
}
.Faster__button:hover {
  transform: scale(1.05);
  background-color: #1A3C7D;
}

@media screen and (max-width: 1200px) {
  .homesection {
    padding-inline: 10px;
  }
  .home {
    grid-template-columns: auto;
    gap: 100px;
    justify-items: center;
  }
  .home__texts {
    margin-top: 100px;
  }
  .home__texts__normal {
    display: grid;
    justify-content: center;
    justify-items: center;
  }
  .home__texts__Iam {
    font-size: 30px;
  }
  .home__texts__JoaoPaulo {
    font-size: 40px;
  }
  .home__texts__normaltext {
    font-size: 26px;
    display: grid;
    text-align: center;
  }
  .Faster {
    display: none;
  }
  .Faster__button {
    margin: 0;
  }
  .Faster__mobileFaster {
    display: block;
    padding: 0;
  }
}
@media screen and (max-width: 769px) {
  .homesection {
    padding-inline: 10px;
  }
  .home {
    grid-template-columns: auto;
    gap: 100px;
    justify-items: center;
  }
  .home__texts {
    margin-top: 100px;
  }
  .home__texts__normal {
    display: grid;
    justify-content: center;
    justify-items: center;
  }
  .home__texts__Iam {
    font-size: min(15px, 3.5vw);
  }
  .home__texts__JoaoPaulo {
    font-size: min(20px, 4vw);
  }
  .home__texts__developer {
    font-size: min(32px, 7.5vw);
  }
  .home__texts__normaltext {
    font-size: min(20px, 5vw);
    display: grid;
    text-align: center;
  }
  .Faster {
    display: none;
  }
  .Faster__button {
    margin: 0;
  }
  .Faster__mobileFaster {
    display: block;
    padding: 0;
  }
}
.wrapper {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

@keyframes move {
  0% {
    opacity: 0;
    left: -100%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}
.header {
  background-color: #101217;
  min-height: 60px;
  z-index: 2;
  font-family: Montserrat;
}

nav {
  width: min(1000px, 100%);
  position: relative;
  z-index: 2;
}
nav .menu_button {
  display: none;
  width: max-content;
}
nav .menu_button button {
  background: transparent;
  border: none;
  outline: none;
}
@media screen and (max-width: 769px) {
  nav {
    display: grid;
    box-sizing: border-box;
    padding: 10px;
    justify-items: end;
  }
  nav .menu_button {
    display: grid;
  }
}

ul {
  padding: 0;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  list-style: none;
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  padding: 20px 40px;
}
ul li {
  cursor: pointer;
}
ul li::after {
  content: "";
  display: block;
  width: 0px;
  height: 2px;
  background: #0B0B0B;
  background: linear-gradient(68deg, rgb(11, 11, 11) 0%, rgb(26, 60, 125) 100%);
  transition: 0.2s linear;
}
ul li:hover::after {
  width: 100%;
}
@media screen and (max-width: 769px) {
  ul li {
    width: 100%;
    box-sizing: border-box;
    background-color: #071530;
    padding: 15px;
  }
}

@media screen and (max-width: 769px) {
  .inactive {
    display: none;
    transition: 0.2s linear;
  }
  .active {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    text-align: center;
    width: 100%;
    z-index: 1;
    padding: 0;
    animation: move 0.25s linear;
  }
}
@keyframes glowing {
  0% {
    box-shadow: 0px 0px 35px 50px rgba(27, 152, 224, 0.3);
  }
  50% {
    box-shadow: 0px 0px 45px 60px rgba(27, 152, 224, 0.55);
  }
  100% {
    box-shadow: 0px 0px 35px 50px rgba(27, 152, 224, 0.3);
  }
}
.skills__title {
  padding-top: 200px;
  font-size: 40px;
  width: 100%;
  padding-bottom: 90px;
  text-align: center;
  font-family: Montserrat;
  color: #1A3C7D;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
}
.cards__card {
  width: 205px;
  height: 250px;
  display: grid;
  align-items: center;
  justify-content: center;
  background-color: #101217;
  border-radius: 10px;
}
.cards__card img {
  width: 150px;
}
.cards__card #reactimg {
  animation: rotate 5s linear infinite;
}
.cards__card__react {
  position: relative;
}
.cards__card .glow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  animation: glowing 5s linear infinite;
  border-radius: 1000px;
}
@media screen and (max-width: 769px) {
  .cards {
    grid-template-columns: 1fr;
    gap: 50px;
  }
}

.concepts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
  justify-items: center;
}
.concepts__title {
  padding-top: 200px;
  font-size: 40px;
  width: 100%;
  padding-bottom: 90px;
  text-align: center;
  font-family: Montserrat;
  color: #1A3C7D;
}
.concepts__concept {
  width: 400px;
  height: 75px;
  color: #ffffff;
  display: flex;
  column-gap: 15px;
  align-items: center;
  border-radius: 50px;
  padding-left: 20px;
  background-color: #101217;
  font-family: Montserrat;
  font-size: 16px;
}
.concepts__concept img {
  width: 50px;
  height: 50px;
}
@media screen and (max-width: 1200px) {
  .concepts__concept {
    width: 95%;
  }
}
@media screen and (max-width: 769px) {
  .concepts {
    grid-template-columns: 1fr;
  }
}

.footer {
  background-color: #101217;
  padding: 40px 0px;
}
.footer__container {
  display: grid;
  grid-template-columns: auto auto;
}
.footer__card {
  background-color: #0b0b0b;
  width: 350px;
  height: 75px;
  border-radius: 50px;
  display: flex;
  padding-left: 20px;
  gap: 10px;
  align-items: center;
}
.footer__card p {
  color: #ffffff;
  font-size: 10px;
  font-family: Montserrat;
}
.footer__card img {
  width: 30px;
  height: 30px;
}
.footer__left {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 20px;
  row-gap: 10px;
}
.footer__right {
  display: grid;
  align-items: center;
}
.footer__right__card {
  display: grid;
  align-items: center;
  padding: 0;
}
.footer__right__card p {
  text-align: center;
}
.footer .svg {
  fill: #1A3C7D;
}
@media screen and (max-width: 769px) {
  .footer__container {
    padding: 40px 10px;
    grid-template-columns: auto;
    gap: 20px;
  }
  .footer__left {
    grid-template-columns: auto;
    row-gap: 40px;
  }
  .footer__right {
    justify-items: center;
  }
  .footer__card {
    width: 90vw;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*# sourceMappingURL=main.css.map */
