@keyframes glowing
    0%
        box-shadow: 0px 0px 35px 50px rgba(27, 152, 224 ,0.30)

    50%
        box-shadow: 0px 0px 45px 60px rgba(27, 152, 224 ,0.55)

    100%
        box-shadow: 0px 0px 35px 50px rgba(27, 152, 224 ,0.30)

.skills
    &__title
        padding-top: 200px
        font-size: 40px
        width: 100%
        padding-bottom: 90px
        text-align: center
        font-family: Montserrat
        color: $fontblue

.cards

    display: grid
    grid-template-columns: 1fr 1fr 1fr 1fr
    justify-items: center

    &__card
        width: 205px
        height: 250px
        display: grid
        align-items: center
        justify-content: center
        background-color: $cardblue
        border-radius: 10px

        img
            width: 150px

        #reactimg
            animation: rotate 5s linear infinite

        &__react
            position: relative

        .glow

            position: absolute
            top: 50%
            left: 50%

            transform: translate(-50%,-50%)

            background-color: transparent

            animation: glowing 5s linear infinite
            border-radius: 1000px
