.concepts

    display: grid
    grid-template-columns: 1fr 1fr
    gap: 100px

    &__title
        padding-top: 200px
        font-size: 40px
        width: 100%
        padding-bottom: 90px
        text-align: center
        font-family: Montserrat
        color: $fontblue

    &__concept
        width: 400px
        height: 75px
        color: #ffffff
        display: flex
        column-gap: 20px

        img
            width: 50px
            height: 50px
